@import "tailwindcss";

      @keyframes fadeSlideUp {
        0% {
          opacity: 1;
          transform: translate(0);
        }
        100% {
          opacity: 0;
          transform: translateX(500px);
        }
      }

      @keyframes showContent {
        0% {
          opacity: 0;
          transform: translateY(50px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .intro {
        animation: fadeSlideUp 1s ease-in-out 2s forwards;
      }

      .content {
        opacity: 0;
        animation: showContent 1s ease-out 3s forwards;
      }